/* Modal Animation Start*/
/* Write Pazyl Yerbolat Start*/
@keyframes modal-open {
    0% {
        opacity: 0;
        margin: 0 auto 0;
    }

    100% {
        opacity: 1;
        margin: 250px auto 0;
    }
}

@keyframes modal-close {
    0% {
        opacity: 1;
        margin: 250px auto 0;
    }

    100% {
        opacity: 0;
        margin: 0 auto 0;
    }
}

@keyframes modal-reg-open {
    0% {
        opacity: 0;
        margin: 0px auto 0;
    }

    100% {
        opacity: 1;
        margin: 100px auto 0;
    }
}

@keyframes modal-reg-close {
    0% {
        opacity: 1;
        margin: 100px auto 0;
    }

    100% {
        opacity: 0;
        margin: 0px auto 0;
    }
}

/* Write Pazyl Yerbolat End*/
/* Modal Animation End*/
