/* Modal Animation OPEN*/

@keyframes modal-open {
    0% {
        opacity: 0;
        margin: 0 auto 0;
    }

    100% {
        opacity: 1;
        margin: 250px auto 0;
    }
}

@keyframes modal-close {
    0% {
        opacity: 1;
        margin: 250px auto 0;
    }

    100% {
        opacity: 0;
        margin: 0 auto 0;
    }
}


/* Modal Animation CLOSE*/
