.cafename {
	margin-bottom: 80px;
	margin-top: 35px;
}

.rightpic {
	/*border: 1px solid black;*/
	position: absolute;
	right: 15px;
}

.h1-contact {
	font: 50px Barlow;
	padding-top: 70px;
	padding-left: 40px;
	padding-bottom: 50px;
	/*background: blue;*/
}

.flex-container {
	margin-left: 40px;
	/*background: white;*/
}

.flex-muni {
	display: flex;
	justify-content: space-between;
	margin-bottom: 140px;
	/*background: green;*/
}

.child-muni {
	width: 30.5%;
	/*background: indigo;*/
}


.child-muni-last {
	width: 37%;
	/*background: indigo;*/
}

.adr {
	font: 20px Barlow;
	padding-top: 50px;
	padding-left: 50px;
	margin-bottom: 50px;
}

.name-of-cafe {
	font-size: 38px;
	margin-bottom: 25px;
}

.margin-25 {
	margin: 40px 0 25px;
}

.btn-map-open {
	font-size: 16px;
	margin-left: 50px;
}


