.modal {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.9);
    z-index: 2;
}

.modal-body {
    width: 400px;
    margin: 250px auto 0;
    background: rgb(255, 196, 85);
    box-sizing: border-box;
    padding: 30px;
}

.title-login {
    font-size: 18px;
    color: #000;
}

.modal-input {
    width: 100%;
    height: 35px;
    margin-top: 25px;
    border: 1px solid #0e0e0e;
    border-radius: 4px;
    background: none;
    box-sizing: border-box;
    padding-left: 10px;
}

.btn-form-login {
    display: block;
    width: 75%;
    margin: 25px auto 0;
    height: 35px;
    border: none;
    border-radius: 22px;
    font-size: 16px;
    font-weight: 400;
}

.btn-modal-close {
    border: none;
    background: none;
    display: block;
    position: absolute;
    font-weight: bold;
    left: 60.9%;
    font-size: 16px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #000;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #000;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #000;
}
